.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul> li{
    padding: 10px;
}
.logo{
    width: 100px;
}
.card{
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    padding: 1px;
}
.card>img{
    width: 100%;
}
/* 
*Important
*/
.card-list{
    display: flex;
    flex-wrap: wrap;
}